<header>
  <div class="content">
    <a href="/" class="logo"></a>
    <div id="main-nav">
      <nav class="n1">
        <ul>
          <li class="on"><a href="/">CCLFX</a></li>
          <li><a class="btn-contact">Contact Us</a></li>
          <li><a class="btn-link" href="//cliffwater.com" target="_blank">CLIFFWATER.COM</a></li>
        </ul>
      </nav>
      <nav class="n2">
        <ul>
          <li class="on"><a data-id="overview">Overview</a></li>
          <li><a data-id="performance">Performance</a></li>
          <li><a data-id="portfolio">Portfolio Management</a></li>
          <li><a data-id="facts">Key Facts</a></li>
          <li><a data-id="literature">Literature</a></li>
          <li><a data-id="debt">Private Debt</a></li>
          <li><a data-id="invest">How to Invest</a></li>
        </ul>
      </nav>
    </div>
    <a id="btn-menu"><i></i><i></i><i></i></a>
    <div id="shade"></div>
    <div id="contact">
      <a class="btn-close"></a>
      <div class="content">
        <h2>Contact Us</h2>
        <form [formGroup]="contactUsForm" (ngSubmit)="submitContactUsForm()" *ngIf="!showRespSec">
          <input
            type="text"
            value=""
            formControlName="fname"
            fx="{'field':{'width':'calc(33% - 10px)','label':'First Name<sup>*</sup>','required':'First Name is required.'}}"
          />
          <input
            type="text"
            value=""
            formControlName="lname"
            fx="{'field':{'width':'calc(33% - 10px)','label':'Last Name<sup>*</sup>','required':'Last Name is required.'}}"
          />
          <input
            type="text"
            value=""
            formControlName="email"
            fx="{'field':{'width':'calc(33% - 10px)','label':'Email<sup>*</sup>','required':'Email address is required.'}}"
          />
          <input
            type="text"
            value=""
            formControlName="company"
            fx="{'field':{'width':'calc(50% - 10px)','label':'Company<sup>*</sup>','required':'Company name is required.'}}"
          />
          <input
            type="text"
            value=""
            formControlName="website"
            fx="{'field':{'width':'calc(50% - 10px)','label':'Website'}}"
          />
          <textarea
          formControlName="message"
            fx="{'field':{'label':'Message<sup>*</sup>','required':'Message is required'}}"
          ></textarea>
          <button type="submit" value="Send">Send</button>
        </form>
        <div *ngIf="showRespSec">
          <h5 class="center-align">{{statusMessage}}</h5>
      </div>
      </div>
    </div>
  </div>
</header>
