<section class="theater">
  <div class="content">
    <h1 [ngClass]="inViewClass">
      CCLFX<br /><span>Cliffwater corporate lending fund</span>
    </h1>
    <div>
      <a data-id="performance" [ngClass]="inViewClass" class="col">
        <h2>All-Weather <br />Performance,</h2>
        <p>
          targeting consistent floating-rate income <br />through all
          environments with low volatility
        </p> </a
      ><a data-id="portfolio" [ngClass]="inViewClass" class="col">
        <h2>Partnering with leading direct lending managers,</h2>
        <p>
          to offer institutional quality, <br />diversification, and pricing
        </p> </a
      ><a data-id="debt" [ngClass]="inViewClass" class="col">
        <h2>Constructed by Cliffwater,</h2>
        <p>
          the authority on private debt and creator <br />of the Cliffwater
          Direct Lending Index
        </p>
      </a>
    </div>
  </div>
  <a class="btn-perf" data-id="performance"
    >See our performance. We aren't afraid to talk about it.</a
  >
</section>
