<footer>
  <section class="s1">
    <div class="content">
      <a href="/" class="logo"></a>
      <nav>
        <ul>
          <li><a href="/">CCLFX</a></li>
          <li><a class="btn-contact">Contact Us</a></li>
          <li><a class="btn-link" href="//cliffwater.com" target="_blank">CLIFFWATER.COM</a></li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="s2">

    <div *ngIf="windowPathname =='/tnc'" class="content">
      <p>Copyright &copy; Cliffwater. All rights reserved. &nbsp; <a   [routerLink]="['/tnc']"
      >Privacy Policy</a> <span> &nbsp;|&nbsp; </span> <a   [routerLink]="['/tnc']"
        >Terms of Service</a> <span> &nbsp;|&nbsp; </span> <a  [routerLink]="['/tnc']"
        >Disclosure</a></p>
    </div>
    <div *ngIf="windowPathname !='/tnc'" class="content">
      <p>Copyright &copy; Cliffwater. All rights reserved. &nbsp; <a   target="_blank" [routerLink]="['/tnc']"
      >Privacy Policy</a> <span> &nbsp;|&nbsp; </span> <a  target="_blank"  [routerLink]="['/tnc']"
        >Terms of Service</a> <span> &nbsp;|&nbsp; </span> <a target="_blank"  [routerLink]="['/tnc']"
        >Disclosure</a></p>
    </div>
  </section>
</footer>
