<section class="debt">
  <div class="content"><div class="col">
    <h2>The Authority on private <br/>debt</h2>
  </div><div class="col">
    <h3>Private debt is a popular asset class. <br/>We were there first.</h3>
  </div></div>
  <div class="content">
    <div class="timeline" [ngClass]="inViewClass"><div>
     <h4>2006-2011</h4>
     <h5>We weighted our institutional client portfolios towards private debt long before it was popular.</h5>
     <p>This may have intimidated other fiduciaries. We have the Courage to be Right.</p>
     <label><span>2006</span>Initial Private Debt Investment</label>
     <label><span>2011</span>Initial Direct Lending Investment</label>
     <div class="l-line"></div>
     <div class="icon"></div>
     <div class="b-line"></div>
     <div class="circle"></div>
     <div class="t-line"></div>
    </div><div>
      <h4>2015</h4>
      <h5>We developed the first and only index that tracks performance of private middle market loans, the largest segment of the private credit market.</h5>
      <p>The Cliffwater Direct Lending Index &ndash; CDLI</p>
      <label>CDLI Index<br/>CLI-S Index<br/>CWBDC Index</label>
      <div class="l-line"></div>
       <div class="icon"></div>
       <div class="b-line"></div>
       <div class="t-line"></div>
    </div><div>
      <h4>2017</h4>
      <h5>We authored the first published article on private debt.</h5>
      <p>"The Investment Opportunity in U.S. Middle Market Direct Lending"</p>
      <div class="l-line"></div>
       <div class="icon"></div>
       <div class="b-line"></div>
       <label><img src="../../../../assets/v3/i/img_journal.jpg"/></label>
       <div class="r-s-c"></div>
       <div class="t-line"></div>
    </div><div>
      <h4>2018</h4>
      <h5>We are recognized industry-wide for our authority and expertise in private credit.</h5>
      <img src="../../../../assets/v3/i/img_privatedebtinvestor.jpg"/>
      <div class="icon"></div>
      <div class="l-s-c"></div>
      <div class="l-line"></div>
      <div class="b-line"></div>
    </div><div>
      <h4>2019</h4>
      <h5>We wrote the seminal book on private credit.</h5>
      <img src="../../../../assets/v3/i/img_privatedebt.jpg"/>
      <div class="l-line"></div>
      <div class="icon"></div>
      <div class="b-line"></div>
    </div><div>
      <h5>We brought the first and only one-stop direct lending fund to the individual investor.</h5>
      <img src="../../../../assets/v3/i/img_CCLF.jpg"/>
      <div class="l-line"></div>
      <div class="circle"></div>
      <div class="b-line"></div>
      <div class="arrow"></div>
    </div></div>
    <h3>We have a seasoned, formidable private credit team that is held accountable for its recommendations and decisions.</h3>
    <p>Performs extensive, detailed research. Manages our proprietary databases covering:</p>
    <div class="stats"><div><div>
      7,000<span>+</span>
    </div><div>U.S. Middle <br/>Market Loands</div></div><div><div>
      1600<span>+</span>
    </div><div>Private Debt <br/>Funds</div></div><div><div>
      800<span>+</span>
    </div><div>Private Debt <br/>Managers</div></div></div>
    <div class="downloads"><a download="PrivateFundFeesforDirectLendingMarch2021.pdf" href="../../../../assets/v3/pdf/PrivateFundFeesforDirectLendingMarch2021.pdf" target="_blank">
      <span>04/2021</span>Investment Fees for Direct Lending
    </a><a href="../../../../assets/v3/pdf/The Valuation of Middle Market Loans.pdf" download="The Valuation of Middle Market Loans.pdf" target="_blank">
      <span>04/2021</span>The Valuation of Middle Market Loans
    </a><a href="../../../../assets/v3/pdf/US Direct Lending, Comparative Performance Through the Financial Crisis.pdf" download="US Direct Lending, Comparative Performance Through the Financial Crisis.pdf" target="_blank">
      <span>04/2021</span>US Direct Lending, Comparative Performance Through the Financial Crisis
    </a></div>

      <a href="https://www.cliffwaterdirectlendingindex.com/" target="_blank" class="btn">Explore Cliffwater CDLI Index</a>
      <a href="https://www.cliffwater.com/Research" target="_blank" class="btn">View All Private Debt Research</a>

  </div>
</section>
