<section class="invest">
  <div class="content"><div class="col" [ngClass]="inViewClass">
    <h2>How to Invest in CCLFX</h2>
  </div><div class="col " [ngClass]="inViewClass">
    <p>Unlike most private asset funds, the Cliffwater Corporate Lending Fund does not require paperwork or have investor qualification standards. Rather, RIAs and institutional investors can purchase fund shares on a daily basis, using the ticker symbol <strong>CCLFX</strong>.</p>
    <p>We do want to know our RIA and institutional investors (all of them) so please <a class="link-contact">contact us</a> if you are interested in investing in CCLFX.</p>
    <h4>Get in touch. Connect with us to learn more.</h4>
    <a class="btn-contact">Contact Us</a>
  </div></div>
</section>
