<section class="nav">
  <div class="content">
    <ul>
        <li class="on"><a data-id="overview">Overview</a></li>
        <li><a data-id="performance">Performance</a></li>
        <li><a data-id="portfolio">Portfolio Management</a></li>
        <li><a data-id="facts">Key Facts</a></li>
        <li><a data-id="literature">Literature</a></li>
        <li><a data-id="debt">Private Debt</a></li>
        <li><a data-id="invest">How to Invest</a></li>
    </ul>
  </div>
</section>
