<section class="portfolio">
  <div class="content" [ngClass]="inViewClass"><div class="col" [ngClass]="inViewClass">
    <h2>Portfolio Management</h2>
  </div><div class="col" [ngClass]="inViewClass">
    <p>Cliffwater assembled CCLFX&rsquo;s team of Investment Partners, the most admired and successful lenders in the private debt market. This allows CCLFX to access exclusive loan opportunities and bring institutional quality, diversification, and pricing to individual investor portfolios.</p>
  </div></div>
  <div class="content" [ngClass]="inViewClass"><div>
    <img src="../../../../assets/v3/i/cliffwater-logo_color.svg" />
  </div><div>
    <h5>10</h5>
    <p>Private Debt <br/>Professionals</p>
  </div><div>
    <h5>$14<span>BN</span></h5>
    <p>Total Private <br/>Debt Assets</p>
  </div><div>
    <h5>2006</h5>
    <p>Year Cliffwater Began <br/>Investing in Private Debt</p>
  </div></div>
  <div class="content" [ngClass]="inViewClass">
    <h4>Selected Private Debt Investment Partners</h4>
    <div class="flips">
      <div class="flip-card" *ngFor="let port of portfolioDebtPartnersList">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img [src]="port.logo" />
          </div>
          <div class="flip-card-back">
            <h5>{{port.partner}}</h5>
            <p><strong>{{port.debtprofcount}}</strong> {{port.debtproftitle}}</p>
            <p><strong>{{port.totaldebtscount}}<span>{{port.symbol}}</span></strong> {{port.totaldebtstitle}}</p>
            <p><strong>{{port.investsince}}</strong> {{port.investsincetitle}}</p>
          </div>
        </div>
        </div>
    </div>
</div>
</section>
