<section class="footnotes">
  <div class="content">
    <p><sup>1</sup>	7.8%, as of May 15, 2021, net of fees & expenses.</p>
    <p><sup>2</sup> Approximately 1.73% on NAV. Excludes fees and interest payments on borrowed funds of 0.56%. See disclosures section. Past performance is not indicative of future results.</p>
    <p><sup>3</sup> Since inception, 8.3% return (2.7% standard deviation).</p>
    <p><sup>4</sup> Quarterly distributions of interest income. Quarterly repurchases of investor capital subject to limitation of 5% of fund shares. If the value of the shares tendered for repurchase exceeds the value the fund intended to repurchase, the fund may determine to repurchase less than the full number of shares tendered.</p>
    <p><sup>5</sup> Information as of May 15, 2021. Where applicable, represents direct and underlying loan exposure.</p>
    <p><sup>6</sup> CCLFX's inception date is June 5, 2019.</p>
    <p><sup>7</sup> Represents cumulative returns from February 21, 2020 to March 23, 2020, during which the market (as measured by the Russell 3000 Index) experienced its maximum drawdown during this period of market dislocation.</p>
    <p><sup>8</sup> "Investment Grade Bonds" is represented by the iShares Core U.S. Aggregate Bond Exchange-Traded Fund (NYSE ARCA: AGG) (the &ldquo;Fund&rdquo;). The Fund seeks to track the investment results of the Bloomberg Barclays US Aggregate Bond Index (the &ldquo;Index&rdquo;), which covers the total U.S. investment grade-bond market. The Index represents securities that are SEC-registered, taxable, and dollar denominated. The Index covers the U.S. investment grade fixed rate bond market, with index components for government and corporate securities, mortgage pass-through securities, and asset-backed securities. It may include securities with different types of guarantees as compared to those held by CCLFX.</p>
    <p><sup>9</sup> "Liquid Loans" is represented by the Invesco Senior Loan Exchange-Traded Fund (NYSE ARCA: BKLN) (the &ldquo;Fund&rdquo;). The Fund is based on the S&P/LSTA U.S. Leveraged Loan 100 Index (the &ldquo;Index&rdquo;), which is designed to reflect the performance of the largest loan facilities in the leveraged loan market. The Fund will normally invest at least 80 of its total assets in the component securities that comprise the Index. The Index is designed to track the market-weighted performance of the largest institutional leveraged loans based on market weightings, spreads and interest payments. The Fund does not purchase all the securities in the Index; instead, the Fund utilizes a "sampling&rdquo; methodology to seek to achieve its investment objective. The Fund and the Index are rebalanced and reconstituted bi-annually, in June and December.</p>
    <p><sup>10</sup> "High Yield Bonds" is represented by the SPDR&reg; Bloomberg Barclays High Yield Bond Exchange-Traded Fund (NYSE ARCA: JNK) (the &ldquo;Fund&rdquo;). The Fund seeks to provide investment results that, before fees and expenses, correspond generally to the price and yield performance of the Bloomberg Barclays High Yield Very Liquid Index (the &ldquo;Index&rdquo;). The Index is a component of the Bloomberg Barclays US Corporate High Yield Index that is designed to track a more liquid component of the USD-denominated, high yield, fixed-rate corporate bond market. The Bloomberg Barclays US Corporate High Yield Index measures the USD denominated, high yield, fixed-rate corporate bond market. Securities are classified as high yield if the middle rating of Moody&rsquo;s, Fitch and S&P is Ba1/BB+/BB+/ or below.</p>
    <p><sup>11</sup> For the period of July 31, 2020 to April 30, 2021.</p>
    <p><sup>12</sup> Since June 5, 2019 (CCLFX's inception date).</p>
    <p><sup>13</sup> Stock Beta is measured to the MSCI World Index.</p>
    <p><sup>14</sup> The fund may determine to repurchase less than the full number of shares tendered.  In such event, shareholders will have their shares repurchased on a pro rata basis, and tendering shareholders will not have all of their tendered shares repurchased by the fund.</p>
    <p><sup>15</sup> Distributions cannot be assured, and the amount of each distribution is likely to vary.</p>
    <p><sup>16</sup> Fees shown exclude fees and interest payments on borrowed funds of 0.56%. See disclosure section. Past performance is not indicative of future results.</p>
    <p><sup>17</sup> In 2017, The Journal of Alternative Investments peer reviewed and published &ldquo;The Investment Opportunity in U.S. Middle Market Direct Lending&rdquo;, by Stephen Nesbitt.</p>
    <p><sup>18</sup> In 2018, Private Debt Investor named Stephen Nesbitt one of the 30 Most Influential People in Private Debt.</p>
    <p><sup>19</sup> In 2019, Wiley published Private Debt: Opportunities in Corporate Direct Lending, by Stephen Nesbitt.</p>
    <br/>
    <p>Note the following:</p>
    <ul>
      <li>Please see the disclosure section regarding the Cliffwater Direct Lending Index.</li>
      <li>The performance data shown in this report represents net returns for CCLFX, past performance does not guarantee future results. It is net of all fees. Current performance may be lower or higher than the performance quoted.</li>
    </ul>
  </div>
</section>
