<section class="performance2">
  <div class="content" [ngClass]="inViewClass"><div class="col">
    <div class="group" [ngClass]="inViewClass">
    <h2>Performance</h2>
    <h3>Through April 2021</h3>
    </div>
  </div><div class="col">
  </div></div>
  <div class="content" [ngClass]="inViewClass">
    <h3 [ngClass]="inViewClass">Return Highlights</h3>
    <div class="c-contain"><div id="returnHighlightsChart"></div></div>
    <h3 [ngClass]="inViewClass">Performance Through April 2021</h3>
    <div class="t-contain" [ngClass]="inViewClass">
      <table cellspacing="0" cellpadding="0" border="0" class="t-perf">
        <thead>
          <tr>
            <th></th><th>Annualized return<sup>9</sup></th><th>Risk</th><th>Sharpe</th><th>Stock Beta<sup>10</sup></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let perf of performance">
            <td><span class="c1"></span><span class="n">{{perf.title}}<sup ng-if="perf.sup!=''">{{perf.sup}}</sup></span></td>
            <td>{{perf.annualizedreturns}}</td>
            <td>{{perf.risk}}</td>
            <td>{{perf.sharpe}}</td>
            <td>{{perf.stockbeta}}</td>
          </tr>
          <!-- <tr>
            <td><span class="c2"></span><span class="n">Investment Grade Bonds<sup>8</sup></span></td>
            <td>4.26%</td>
            <td>3.75%</td>
            <td>0.90</td>
            <td>0.02</td>
          </tr>
          <tr>
            <td><span class="c3"></span><span class="n">Liquid Loans<sup>9</sup></span></td>
            <td>2.48%</td>
            <td>6.88%</td>
            <td>0.26</td>
            <td>0.29</td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <h3 [ngClass]="inViewClass">Monthly Returns</h3>
    <div class="t-contain" [ngClass]="inViewClass">
      <table cellspacing="0" cellpadding="0" border="0" class="t-monthly" #MonthlyReturnsTable>
        <thead>
          <tr>
            <th></th><th>Jan</th><th>Feb</th><th>Mar</th><th>Apr</th><th>May</th><th>Jun</th><th>Jul</th><th>Aug</th><th>Sep</th><th>Oct</th><th>Nov</th><th>Dec</th><th>Year</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let returns of monthlyReturns">
                <td>{{returns.historyYear}}</td>
                <td>{{returns.jan}}</td>
                <td>{{returns.feb}}</td>
                <td>{{returns.mar}}</td>
                <td>{{returns.apr}}</td>
                <td>{{returns.may}}</td>
                <td>{{returns.jun}}</td>
                <td>{{returns.jul}}</td>
                <td>{{returns.aug}}</td>
                <td>{{returns.sep}}</td>
                <td>{{returns.oct}}</td>
                <td>{{returns.nov}}</td>
                <td>{{returns.dec}}</td>
                <td>{{returns.year}}</td>
               </tr>
        </tbody>
      </table>
    </div>
    <p class="disclaimer"><sup>*</sup>Performance value represents year-to-date.</p>
    <a (click)="monthlyRetunrsExport()" class="btn">Export Data</a>
  </div>
</section>
