<section class="literature">
  <div class="content" [ngClass]="inViewClass">
    <h2>Literature</h2>
    <div class="boxes">
      <a class="btn-contact locked">Brochure</a>
      <a class="btn-contact locked">Presentation</a>
      <a target="_blank" href="/pdf/cclfProspectus.pdf" download="cclfProspectus.pdf">Prospectus</a>
      <a target="_blank" href="/pdf/cclfSAI.pdf" download="cclfSAI.pdf">Statement <br/>of Additional Information</a>
      <a target="_blank" href="#">Repurchase & <br/>Distribution Calendar</a>
      <a target="_blank" href="/pdf/CliffwaterCorporateLendingFundApplication.pdf" download="CliffwaterCorporateLendingFundApplication.pdf">Account Application</a>
      <a target="_blank" href="/pdf/cclfAR.pdf" download="cclfAR.pdf">Annual Report</a>
      <a target="_blank" href="/pdf/cclfSAR.pdf" download="cclfSAR.pdf">Semi-Annual Report</a>
      <a target="_blank" href="/pdf/Rule19a-1Notice.pdf" download="Rule19a-1Notice.pdf">19(a) Notice</a></div>
    </div>
</section>
