<section class="facts">
  <div class="content" [ngClass]="inViewClass">
    <h2>Key Facts</h2>
    <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr><td>Symbol / Ticker</td><td>CCFLX</td></tr>
    <tr><td>Structure</td><td>Closed-End Management Investment Company &ndash; Interval Fund (1940 Act-Registered)</td></tr>
    <tr><td>Minimum Investment</td><td>$10,000,000 (firm level)</td></tr>
    <tr><td>NAV Frequency</td><td>Daily</td></tr>
    <tr><td>Subscriptions</td><td>Daily</td></tr>
    <tr><td>Liquidity</td><td>Quarterly, no less than 5% of fund shares outstanding<sup>10</sup></td></tr>
    <tr><td>Distributions</td><td>Quarterly<sup>11</sup></td></tr>
    <tr><td>Tax Reporting</td><td>1099-NAV</td></tr>
    <tr><td>Expenses</td><td>Total Fees & Expenses (excluding borrowing costs): 1.79%<sup>12</sup></td></tr>
    <tr><td>Net Assets</td><td>$1.33 billion</td></tr>
    </tbody>
    </table>
  </div>
</section>
