<section class="overview">
  <div class="content"><div class="col " [ngClass]="inViewClass">
    <h2>Overview</h2>
  </div><div class="col" [ngClass]="inViewClass">
    <h3>Cliffwater Corporate Lending Fund (CCLFX) provides all investors access to a private debt portfolio of institutional quality and diversification.</h3>
    <div class="boxes"><div>
      High Current Yield<sup>1</sup>
    </div><div>
      Attractive Fees<sup>2</sup>
    </div><div>
      High Risked-Adjusted Returns<sup>3</sup>
    </div><div>
      Enhanced Investor Liquidity<sup>4</sup>
    </div></div>
    <p>Cliffwater has been investing its large institutional client portfolios in private debt since 2006. In 2019, Cliffwater launched CCLFX as an opportunity to track the Cliffwater Direct Lending Index (CDLI) with an enhanced index-like product. Since its introduction in 2015, the CDLI has become the standard for the industry used by allocators and private debt managers alike.</p>
    <h4>Key Portfolio Statistics<sup>5</sup></h4>
    <div class="stats" *ngFor="let stats of keyPortfolioStats">
        <div>
           <div>
              {{stats.netcurrentYieldVal}}<span>%</span>
           </div>
           <div>{{stats.netcurrentYieldTxt}}</div>
        </div>
        <div>
           <div>
              {{stats.floatingRateAssetVal}}<span>%</span>
           </div>
           <div>{{stats.floatingRateAssetTxt}}</div>
        </div>
        <div>
           <div>
              {{stats.firstLienLoanVal}}<span>%</span>
           </div>
           <div>{{stats.firstLienLoanTxt}}</div>
        </div>
        <div>
           <div>
              {{stats.underlyingCreditsVal}}<span>+</span>
           </div>
           <div>{{stats.underlyingCreditsTxt}}</div>
        </div>
        <div>
           <div>
              {{stats.marketLendingVal}}<span>+</span>
           </div>
           <div>{{stats.marketLendingTxt}}</div>
        </div>
        <div>
           <div>
              {{stats.totalPortfolioAssetVal}}<span>BN</span>
           </div>
           <div>{{stats.totalPortfolioAssetTxt}}</div>
        </div>
     </div>
  </div></div>
</section>
