<div class="termsDiv">
  <p>AGREEMENT TO TERMS OF USE</p>
  <p>Please read the following terms and conditions ("Terms of Use") before using the Cliffwater
      Corporate Lending Fund (the "Fund") website (the "Website"). Your access to and use of the Website
      is
      subject to these Terms of Use and all applicable laws and regulations. The Terms of Use constitute a
      legal
      agreement between you and the Fund. Without limiting the foregoing, the Website is not available to
      persons
      under age 18. By accessing and using the Website, you accept, without qualification, these Terms of
      Use. If
      you do not approve and accept these Terms of Use without qualification, you should exit the Website
      immediately.</p>
  <p>The Fund or Cliffwater LLC may, at their discretion, change, modify, add or remove portions
      of these Terms of Use at any time without notice to you. We suggest that you check these Terms of
      Use
      periodically for changes. These Terms of Use can be accessed from the link at the bottom of each
      page. If
      you use the Website after we post changes to these Terms of Use, you accept the changed Terms of
      Use. The
      Fund and Cliffwater LLC expressly reserve the right to monitor any and all use of the Website.</p>
  <p>PERSONAL AND NON-COMMERCIAL USE LIMITATION</p>
  <p>The Website is for your personal and non-commercial use. The Fund grants you a
      non-exclusive, non-transferable and limited personal license to access and use the Website,
      conditioned on
      your continued compliance with these Terms of Use. You may not modify, copy (except as set forth
      below),
      distribute, transmit, display, perform, reproduce, publish, license, create derivative works from,
      transfer,
      or sell any information, products or services obtained from the Website. You may not link other
      websites to
      the Website without the prior written permission of Cliffwater LLC.</p>
  <p>You are prohibited from using the Website to advertise or perform any commercial
      solicitation. You also are prohibited from using any robot, spider, scraper or other automated means
      to
      access the Website for any purpose without the prior written permission of Cliffwater LLC. You may
      not take
      any action that imposes, or may impose, in our sole discretion, an unreasonable or
      disproportionately large
      load on our infrastructure, interfere or attempt to interfere with the proper working of the Website
      or any
      activities conducted on the Website, or bypass any measures that we may use to prevent or restrict
      access to
      the Website. Any rights not expressly granted herein are reserved.</p>
  <p>NO LEGAL, TAX, OR ACCOUNTING ADVICE</p>
  <p>The information on the Website is intended to enable you to understand the Fund. Information
      available through this public website is not intended as and does not constitute investment advice,
      and all
      information is not intended and does not constitute legal, tax, or accounting advice. The
      information in the
      Website should not be construed as the Fund’s or any of its advisers’ endorsement or sponsorship of
      any
      company or security. There are inherent risks in relying on, using or retrieving any information
      found on
      the Website, and the Fund and Cliffwater LLC urge you to make sure that you understand these risks
      before
      relying on, using or retrieving any information on the Website.</p>
  <p>DISCLAIMERS AND LIMITATION OF LIABILITY</p>
  <p>THE INFORMATION AND SERVICES PUBLISHED ON THIS WEBSITE MAY INCLUDE INACCURACIES OR
      TYPOGRAPHICAL ERRORS. DUE TO VARIOUS FACTORS, INCLUDING THE INHERENT POSSIBILITY OF HUMAN AND
      MECHANICAL
      ERROR, THE ACCURACY, COMPLETENESS, TIMELINESS AND CORRECT SEQUENCING OF SUCH INFORMATION, SOFTWARE
      AND
      SERVICES AND THE RESULTS OBTAINED FROM THEIR USE ARE NOT GUARANTEED BY THE FUND, ITS ADVISERS OR
      VENDORS, OR
      ANY OTHER PERSONS CREATING OR TRANSMITTING SUCH INFORMATION, SOFTWARE AND SERVICES.</p>
  <p>THE FUND AND/OR ITS ADVISERS AND VENDORS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE CONTENT
      AND OPERATION OF THE SITE AT ANY TIME WITHOUT NOTICE. THE SITE MAY BE TEMPORARILY UNAVAILABLE FROM
      TIME TO
      TIME DUE TO REQUIRED MAINTENANCE, TELECOMMUNICATIONS INTERRUPTIONS OR OTHER REASONS.</p>
  <p>THE FUND AND/OR ITS ADVISERS AND VENDORS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY OF
      THE INFORMATION, SOFTWARE, PRODUCTS AND SERVICES CONTAINED ON THIS WEBSITE FOR ANY PURPOSE. ALL SUCH
      INFORMATION, SOFTWARE, PRODUCTS AND SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. THE
      FUND AND
      ITS ADVISERS AND VENDORS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS
      INFORMATION,
      SOFTWARE, PRODUCTS AND SERVICES, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY,
      FITNESS
      FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT AND AVAILABILITY. BECAUSE SOME
      STATES/JURISDICTIONS DO NOT
      ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, THE ABOVE EXCLUSION MAY NOT APPLY TO YOU. ALTHOUGH THE
      INFORMATION PROVIDED TO YOU ON THIS SITE IS OBTAINED OR COMPILED FROM SOURCES BELIEVED TO BE
      RELIABLE,
      NEITHER THE FUND NOR ITS ADVISERS OR OTHER VENDORS GUARANTEE THE ACCURACY, VALIDITY, OR COMPLETENESS
      OF ANY
      INFORMATION OR DATA MADE AVAILABLE TO YOU. PAST PERFORMANCE DOES NOT GUARANTEE FUTURE PERFORMANCE.
  </p>
  <p>YOUR USE OF THE SITE IS AT YOUR OWN RISK. YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR
      COMPUTER SYSTEM, LOSS OF DATA OR ANY OTHER DAMAGE OR LOSS THAT RESULTS FROM THE DOWNLOAD OF ANY
      CONTENT FROM
      THE SITE. IN NO EVENT SHALL THE FUND, ITS ADVISERS OR ITS VENDORS BE LIABLE FOR ANY DIRECT,
      INDIRECT,
      PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH
      OR
      RELATING TO THE USE OF OR ACCESS TO THIS WEBSITE OR WITH THE DELAY OR INABILITY TO USE THIS WEBSITE,
      OR FOR
      ANY INFORMATION, SOFTWARE, PRODUCTS OR SERVICES OBTAINED THROUGH THIS WEBSITE, WHETHER BASED ON
      CONTRACT,
      TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF THE FUND, ITS ADVISERS OR ANY OF ITS VENDORS HAVE BEEN
      ADVISED
      OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
      LIMITATION OF
      LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>
  <p>NONE OF THE FUND, ITS ADVISERS, ITS VENDORS AND ANY PERSON CREATING OR TRANSMITTING THE
      INFORMATION ON THE SITE SHALL BE LIABLE FOR ANY INFECTION BY VIRUSES OF OR DAMAGE TO ANY COMPUTER
      THAT
      RESULTS FROM YOUR USE OF, ACCESS TO OR DOWNLOADING OF SUCH INFORMATION. IF YOU ARE DISSATISFIED WITH
      THE
      INFORMATION, PRODUCTS OR SERVICES OFFERED AT THE SITE OR WITH THE TERMS AND CONDITIONS OF THESE
      TERMS OF
      USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USE OF AND ACCESS TO THE SITE.</p>
  <p>OWNERSHIP OF CONTENT</p>
  <p>The Website and all of its content, including but not limited to all text, graphics, charts,
      audio, logos, images, data compilations, icons, code and software ("Content"), are the property of
      the Fund
      or its advisers or vendors, as applicable, and are protected by U.S. and international copyright
      laws, with
      all rights reserved unless otherwise noted. All trademarks, service marks, trade names and other
      product and
      service names and logos displayed on the Website are proprietary to the Fund or its advisers or
      vendors as
      applicable, including registered and unregistered trademarks and service marks. If the Website
      includes any
      trademarks, service marks, trade names or logos of any third parties, such items are the proprietary
      marks
      and names of their respective owners, and are protected by applicable trademark and intellectual
      property
      laws. Your use of any Content, whether owned by the Fund or any third party, without the Fund's
      express
      written permission, is strictly prohibited except as otherwise expressly permitted in these Terms of
      Use.
      Without limiting the foregoing, you are prohibited from using copyrighted material or trademarks of
      the
      Fund, its advisers or vendors for any purpose, including, but not limited to, use as metatags, links
      or
      otherwise on any website, without the prior written permission of the Fund.</p>
  <p>REFERENCES TO PUBLICATIONS AND OTHER COMPANIES</p>
  <p>References to any publication or any other company in the Website are for reference and
      informational purposes only and are not intended to suggest that any of such companies endorse,
      recommend or
      approve of the services, analysis or recommendations of the Fund, or its advisers or vendors or that
      the
      Fund or its advisers or vendors endorse, recommend or approve the services or products of such
      companies.
      News stories reflect only the author's opinion and not necessarily that of the Fund, or its advisers
      or
      vendors.</p>
  <p>INDEMNITY</p>
  <p>You agree, at your own expense, to indemnify, defend and hold harmless the Fund, its
      advisers and vendors, its parents, subsidiaries and affiliates, and their officers, partners,
      managers,
      members, employees, agents, distributors and licensees, from and against any judgments, losses,
      deficiencies, damages, liabilities, costs, claims, demands, suits, and expenses (including, without
      limitation, reasonable attorneys' fees and expenses) incurred in, arising out of or in any way
      related to
      your breach of these Terms of Use or the Privacy Policy, your use of the Website.</p>
  <p>JURISDICTIONAL ISSUES AND APPLICABLE LAW</p>
  <p>These Terms of Use are governed by the laws of the State of California, without regard to
      its choice of law provisions. You hereby consent to the exclusive and personal jurisdiction and
      venue of
      courts in the City and county of Los Angeles, California which shall have exclusive jurisdiction
      over any
      and all disputes arising out of or relating to these Terms of Use, the use of the Website or any
      product or
      service related thereto. Use of the Website is unauthorized in any jurisdiction that does not give
      effect to
      all provisions of these terms and conditions, including without limitation this paragraph.</p>
  <p>GENERAL</p>
  <p>The Fund’s and Cliffwater LLC’s performance of these Terms of Use is subject to existing
      laws and legal process, and nothing in these Terms of Use is in derogation of the Fund’s and
      Cliffwater
      LLC’s right to comply with law enforcement requests or requirements relating to your use of the
      Website or
      information provided to or gathered by the Fund or Cliffwater LLC with respect to such use.</p>
  <p>If any part of these Terms of Use is determined to be invalid or unenforceable pursuant to
      applicable law including, but not limited to, the warranty disclaimers and liability limitations set
      forth
      above, then the invalid or unenforceable provision shall be deemed superseded by a valid,
      enforceable
      provision that most closely matches the intent of the original provision and the remainder of these
      Terms of
      Use shall continue in effect.</p>
  <p>By reviewing or using the information on the Website after accessing the Website, you
      represent and warrant that (a) you have the authority to enter into these Terms of Use and create a
      binding
      contractual obligation, (b) you understand and intend these Terms of Use to be the legal equivalent
      of a
      signed, written contract equally binding, and (c) you will use the information on the Website in a
      manner
      consistent with applicable laws and regulations in accordance with these Terms of Use, as the Fund
      or
      Cliffwater LLC may amend them online or otherwise from time to time. A printed version of these
      Terms of Use
      and of any notice given in electronic form shall be admissible in judicial or administrative
      proceedings
      based on or relating to these Terms of Use to the same extent and subject to the same conditions as
      other
      business documents and records originally generated and maintained in printed form.</p>
</div>
