<section class="performance">
  <div class="content"><div class="col " [ngClass]="inViewClass">
    <h2>"All-weather" performance</h2>
    <a class="btn-download" download="All Weather Private Debt.pdf" href="../../../../assets/v3/pdf/All Weather Private Debt.pdf" target="_blank">download our "All Weather" Performance whitepaper</a>
  </div><div class="col" [ngClass]="inViewClass">
    <h4>Targeting consistent floating-rate income through all economic environments with low volatility.</h4>
    <p>Cliffwater views direct lending as an &lsquo;All-Weather&rsquo; asset class, capable of delivering positive returns across interest rate and economic environments, while also providing for low downside risk during periods of volatility.</p>
  </div></div>
  <div id="interactiveChart">
    <div class="content">
      <h3>Total returns since inception<sup>6</sup></h3>
      <div id="chart1"></div>
      <div id="table1">
        <div class="t-contain">
          <h5>Resilience during Market Dislocation (COVID-19)</h5>
          <table cellpadding="0" cellspacing="0" border="0">
          <thead><tr><th>Drawdown<sup>7</sup></th></tr></thead>
          <tbody>
            <tr><td>Cliffwater Corporate Lending Fund</td><td>-3.81%</td></tr>
            <tr><td>Investment Grade Bonds<sup>8</sup></td><td>-1.57%</td></tr>
            <tr><td>Liquid Loans<sup>9</sup></td><td>-23.67%</td></tr>
            <tr><td>High Yield Bonds<sup>10</sup></td><td>-22.90%</td></tr>
          </tbody>
          </table>
          <p>Similar resilience to investment grade bonds.</p>
        </div>
      </div>
      <div id="chart3"></div>
      <div id="table2">
        <div class="t-contain">
          <h5>Protection against rising interest rates</h5>
          <table cellpadding="0" cellspacing="0" border="0">
          <thead><tr><th>Return<sup>11</sup></th></tr></thead>
          <tbody>
            <tr><td>Cliffwater Corporate Lending Fund</td><td>9.55%</td></tr>
            <tr><td>Investment Grade Bonds<sup>8</sup></td><td>-2.86%</td></tr>
          </tbody>
          </table>
          <p>Minimal exposure to interest rates unlike investment grade bonds.</p>
        </div>
      </div>
      <div id="chart4"></div>
    </div>
  </div>
</section>
